* {
    margin: 0px;
    padding: 0px;
}

h1 {
    border-bottom-style: 1.2em;
    padding: 20px;
}

.sub-titulo{
    margin-bottom: 10px;
    border-bottom-style: inset; 
}

pre {
    font-size: 1.2em;
}

img.normal {
    float: left;
    height: 300px;
    width: 300px;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
}